<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ktitsapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DocsActivity"></activity>
        <activity android:name=".PricazActivity" />
        <activity android:name=".ObshagaActivity" />
        <activity android:name=".TeachActivity" />
        <activity android:name=".TecActivity" />
        <activity android:name=".NewStudActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".ProfActivity" />
        <activity android:name=".ActivityRing" />
        <activity android:name=".ActivityLogo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>